@font-face {
    font-family: 'muli';
    src: url('muli-regular-webfont.eot');
    src: url('muli-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('muli-regular-webfont.woff2') format('woff2'),
         url('muli-regular-webfont.woff') format('woff'),
         url('muli-regular-webfont.ttf') format('truetype'),
         url('muli-regular-webfont.svg#muliregular') format('svg');
    font-weight: normal;
    font-style: normal;
}