/*!
* Author: Yakir Sitbon.
* Project Url: https://github.com/KingYes/jquery-radio-image-select
* Author Website: http://www.yakirs.net/
**/
img.radio-select-img-item {
  border: solid 2px #dcdcdc;
  margin-right: 10px;
  cursor: pointer;
  opacity: 0.6;
}
img.radio-select-img-item.item-checked {
  border: solid 2px #6fe3fd;
  opacity: 1;
}
