/*=======================
Theme: 
This is the Responsive Query For This Template

Author: 
Email: 
Version: 1.0
=======================*/

@media (max-width: 1320px) {
	#slider-template-2 .bx-wrapper .bx-prev {
		left: 20px;
	}
	#slider-template-2 .bx-wrapper .bx-next {
		right: 20px;
	}
}

@media (min-width: 768px) {
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
	width: 33.2%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
	width: 33.2%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
.col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
	width: 33.2%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .col-mb-1, .col-mb-2, .col-mb-3, .col-mb-4, .col-mb-5, .col-mb-6, .col-mb-7, .col-mb-8, .col-mb-9, .col-mb-10, .col-mb-11, .col-mb-12 {
	float: left;
  }
  .col-mb-12 {
    width: 100%;
  }
  .col-mb-11 {
    width: 91.66666667%;
  }
  .col-mb-10 {
    width: 83.33333333%;
  }
  .col-mb-9 {
    width: 75%;
  }
  .col-mb-8 {
    width: 66.66666667%;
  }
  .col-mb-7 {
    width: 58.33333333%;
  }
  .col-mb-6 {
    width: 50%;
  }
  .col-mb-5 {
    width: 41.66666667%;
  }
  .col-mb-4 {
    width: 33.2%;
  }
  .col-mb-3 {
    width: 25%;
  }
  .col-mb-2 {
    width: 16.66666667%;
  }
  .col-mb-1 {
    width: 8.33333333%;
  }
  .rst-box.column-2 .col-mb-6:nth-child(2n+1),
  .rst-box.column-3 .col-mb-6:nth-child(2n+1),
  .rst-box.column-4 .col-mb-6:nth-child(2n+1) {
	clear: left
  }
  
	.rst-box .rst-post-item:nth-child(3n+1) {
		clear: none
	}
	.rst-box .rst-post-item:nth-child(2n+1) {
		clear: left
	}
}

@media (min-width: 320px) and (max-width: 480px) {
  .rst-box .col-ip-3:nth-child(4n+1),
  .rst-box .col-ip-4:nth-child(3n+1),
  .rst-box .col-ip-6:nth-child(2n+1) {
	clear: left
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .rst-box .col-mb-3:nth-child(4n+1),
  .rst-box .col-mb-4:nth-child(3n+1),
  .rst-box .col-mb-6:nth-child(2n+1) {
	clear: left
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .rst-box .col-sm-3:nth-child(4n+1),
  .rst-box .col-sm-4:nth-child(3n+1),
  .rst-box .col-sm-6:nth-child(2n+1) {
	clear: left
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .rst-box .col-md-3:nth-child(4n+1),
  .rst-box .col-md-4:nth-child(3n+1),
  .rst-box .col-md-6:nth-child(2n+1) {
	clear: left
  }
}
@media (min-width: 1200px) {
  .rst-box .col-lg-3:nth-child(4n+1),
  .rst-box .col-lg-4:nth-child(3n+1),
  .rst-box .col-lg-6:nth-child(2n+1) {
	clear: left
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .col-ip-1, .col-ip-2, .col-ip-3, .col-ip-4, .col-ip-5, .col-ip-6, .col-ip-7, .col-ip-8, .col-ip-9, .col-ip-10, .col-ip-11, .col-ip-12 {
	float: left;
  }
  .col-ip-12 {
    width: 100%;
  }
  .col-ip-11 {
    width: 91.66666667%;
  }
  .col-ip-10 {
    width: 83.33333333%;
  }
  .col-ip-9 {
    width: 75%;
  }
  .col-ip-8 {
    width: 66.66666667%;
  }
  .col-ip-7 {
    width: 58.33333333%;
  }
  .col-ip-6 {
    width: 50%;
  }
  .col-ip-5 {
    width: 41.66666667%;
  }
  .col-ip-4 {
    width: 33.2%;
  }
  .col-ip-3 {
    width: 25%;
  }
  .col-ip-2 {
    width: 16.66666667%;
  }
  .col-ip-1 {
    width: 8.33333333%;
  }
}

@media (min-width: 768px) { 
	.rst-main-menu > ul { 
		display: inline-block !important;
	}
}
@media (max-width: 979px) { 
	.rst-main-menu li {
		padding: 0 8px 15px;
	}
	#sidebar {
		margin-left: 0;
	}
	.rst-share a { margin-left: 10px; }
}

@media (max-width: 900px) { 
	.bxslider-home .bx-captions .bx-inner-caption {
		max-width: 90%;
	}
}

@media (max-width: 767px) { 
	.bxslider-home .bx-captions {
		bottom: 160px;
	}
	.rst-logo { 
		text-align: center; 
	}
    .header-fixed, .wp-pagenavi .pages { 
		display: none 
	}
	.rst-main-menu > ul, .rst-main-menu li, .rst-main-menu { 
		display: block; 
	}
	.rst-main-menu li {
		border-top: 1px dotted #ccc;
		padding: 0;
	}
	.rst-main-menu ul > li:first-child {
		border: 0;
	}
	.rst-main-menu li a {
		height: 38px;
		line-height: 38px;
	}
	header { 
		padding: 10px 0;
		text-align: left;
	}
	.rst-logo { margin-bottom: 0 }
	.rst-main-menu > ul { 
		margin: 10px 0 0;
	}
	.rst-main-menu { 
		position: static;
	}
	.rst-main-menu  .rst-nav-menu {
		border: 1px solid #f2f2f2;
		padding: 5px 25px;
		display: none;
	}
	header .container {
		position: relative;
	}
	.rst-main-menu li.current-menu-item a, .rst-main-menu li:hover a {
		border: 0;
	}
	.rst-main-menu li ul.sub-menu {
		border: 0 none;
		border-top: 1px dotted #ccc;
		display: block;
		padding: 0;
		position: static;
		width: 100% !important;
	}
	.rst-main-menu li li a {
		border: 0 none;
		height: auto;
		line-height: 20px;
		padding: 8px 0;
	}
	.rst-main-menu li:hover > ul.sub-menu {
		animation: none;
	}
	.rst-main-menu > ul > li:hover > a {
		border: 0;
	}
	.rst-main-menu li ul.sub-menu li {
		padding: 0;
	}
	.rst-main-menu .sub-menu a { 
		padding-left: 20px;
	}
	.rst-main-menu .sub-menu .sub-menu a { 
		padding-left: 40px;
	}
	.rst-main-menu .sub-menu .sub-menu .sub-menu a { 
		padding-left: 60px;
	}
	.rst-main-menu .sub-menu .sub-menu .sub-menu .sub-menu a { 
		padding-left: 80px;
	}
	header .rst-search {
		right: 15px;
		top: 15px;
	}
	header .rst-menu-trigger {
		display: block;
	}
	header .rst-search.open {
		width: calc(100% - 30px);
	}
	#sidebar { margin-top: 20px; }
	.rst-share {
		text-align: left;
	}
	[data-sticky_column] {
		position: static !important;
	}
	.slide .rst-captions .rst-title h3 {
		font-size: 16px;
		padding: 5px 15px 5px 10px;
	}
	.bx-inner-caption h3 {
		font-size: 24px;
	}
	.bxslider-home .bx-captions .bx-inner-caption p {
		font-size: 16px;
	}
	.rst-main-menu .rst-nav-menu {
		background: #fff;
	}
}
@media (max-width: 480px) { 
	#slider-template-2 {
		display: none;
	}
	.rst-social a {
		margin: 0 7px;
	}
	.rst-author-head, .rst-author-img, .rst-author-info {
		display: block;
	}
	.rst-author-img {
		float: none;
		margin: 0 auto 10px;
		padding: 0;
	}
	.rst-author-info h1 {
		text-align: center;
	}
	header .rst-search {
		display: none;
	}
}
@media (max-width: 479px) { 
	.bxslider-home .bx-captions {
		display: none;
	}
	#slider_header .bx-wrapper .bx-viewport img {
		min-width: 900px;
	}
	#slider_header .bx-wrapper .bx-viewport {
		min-height: 300px;
	}
}